<aside id="sidebar" class="main-sidebar bg-darkgray">
    <ul class="sidebar-menu">
        <li>
            <a href="#">
                <span class="seatq-icon_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="61" height="61" viewBox="0 0 61 61"><defs><linearGradient id="a" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#6a6f7d" /><stop offset="1" stop-color="#64697a" /></linearGradient></defs><path d="M30.5,61A30.508,30.508,0,0,1,18.628,2.4,30.508,30.508,0,0,1,42.372,58.6,30.309,30.309,0,0,1,30.5,61Zm-.141-49.967a19.326,19.326,0,1,0,0,38.651,19.154,19.154,0,0,0,11.45-3.766l1.209,1.106a3.126,3.126,0,1,0,4.22-4.612l-1.058-.968A19.317,19.317,0,0,0,30.359,11.034Zm0,31.546a12.217,12.217,0,1,1,10.516-5.991l-3.281-3A3.126,3.126,0,0,0,33.373,38.2l3.037,2.779A12.22,12.22,0,0,1,30.359,42.58Z" transform="translate(0 0)" fill="url(#a)" /></svg>
                </span>
            </a>
        </li>
        <li class="sidebar-menu_li"><a href="/reservation/loyalty"><span class="resv-icon grey_i"></span>Reservation</a></li>
        <li class="sidebar-menu_li"><a href="/reservation/messages"><span class="message-icon"></span>Messages</a></li>
        <li class="sidebar-menu_li"><a href="/reservation/metrics" title="Metrics"><span class="metrics-icon"></span>Metrics</a></li>
    </ul><!-- end of sidebar-menu -->
</aside><!-- end of sidebar -->