@model SeatQ.core.dal.Models.UserProfile
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="loginForm" class="form-design txt-center">

    <fieldset>
        
        <ul class="list-unstyled">
            <li class="text-center">
                <h2 class="link-gray">@ViewBag.Title</h2>

            <p>Please type your username and and click send button and check your email for a new password.</p>
            </li>
            <li>
                <input type ="text" name="username" placeholder="Username" id="UserName" />
                <!--input type ="text" name="email" placeholder="Email"  style="margin-bottom:10px"/>-->
                
            </li>
            <li>
                <div class="g-recaptcha" data-sitekey="6LdKKMcUAAAAAJnOkEimAbs1QaSrn6Hz9USp60ct"></div>
            </li>
            <li><input type="submit" value="SEND" class="button green" onclick="ResendConfirmation()" /></li>
            <li>
                @Html.ValidationSummary()
            </li>
        </ul>
    </fieldset>

    <script>
        var webserviceURL = "@Url.Action("ForgotPassword", "Account")";

        function ResendConfirmation() {

            event.preventDefault();
            var response = grecaptcha.getResponse();
            if (response.length === 0) {
                $.notify("Please check the reCAPTCHA");
                return;
            }

            $.ajax({
                type: "POST",
                url: webserviceURL,
                data: JSON.stringify({ UserName: $("input[name=username]").val()/*, Email: $("input[name=email]").val()*/ }),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    if (data.status == "ok") {
                        $(".validation-summary-valid").html("Please check your email for a new password.");
                        $(".validation-summary-valid").show();
                    }
                    if (data.status == "error") {
                        showErrorOnElement(data, $(".validation-summary-valid"));
                    }
                },
                error: function (error) {
                    alert('error');
                }
            });
        }

    </script>
