@{
    ViewBag.Title = "QTimes";
    Layout = "~/Areas/m/Views/Shared/_Layout.cshtml";
}
<div class="thankyou">
    <div class="container__center">
        <div class="imgHolder">
            <svg xmlns="http://www.w3.org/2000/svg" version="1" class="tump_svg" viewBox="0 0 26 26" enable-background="new 0 0 26 26" width="99" height="93">
                <path d="M 8 0 C 3.6 0 0 3.6 0 8 C 0 12.4 3.6 16 8 16 L 8.5 16 L 9.90625 13.6875 C 9.20625 13.8875 8.6 14 8 14 C 4.7 14 2 11.3 2 8 C 2 4.7 4.7 2 8 2 C 11.1 2 13.7 4.4 14 7.5 C 14.4 7.2 15 7 15.5 7 L 15.90625 7 C 15.40625 3 12 0 8 0 z M 8 3 C 7.6 3 7.5 3.20625 7.5 3.40625 L 7.34375 7.03125 C 7.0245479 7.2468987 6.8125 7.5857864 6.8125 8 C 6.8125 8.0339868 6.8409797 8.0604788 6.84375 8.09375 L 5.40625 9.8125 C 5.30625 9.9125 5.2 10.2 5.5 10.5 C 5.8 10.8 6.0875 10.69375 6.1875 10.59375 L 7.8125 9.15625 C 7.8754678 9.1664539 7.9341507 9.1875 8 9.1875 C 8.6627417 9.1875 9.1875 8.6627417 9.1875 8 C 9.1875 7.6431391 9.0285091 7.3448083 8.78125 7.125 L 8.5 3.40625 C 8.5 3.20625 8.3 3 8 3 z M 15.4375 8.03125 C 14.7625 8.03125 14.09375 8.4625 13.59375 9.3125 L 5.40625 23 C 4.40625 24.7 5.1875 26 7.1875 26 L 23.6875 26 C 25.7875 26 26.59375 24.6 25.59375 23 L 17.3125 9.3125 C 16.8125 8.4625 16.1125 8.03125 15.4375 8.03125 z M 15.5 12.59375 C 16 12.59375 16.29375 12.79375 16.59375 13.09375 C 16.89375 13.39375 17 13.7875 17 14.1875 C 17 14.5875 16.3875 17.49375 16.1875 19.59375 L 14.6875 19.59375 C 14.4875 17.49375 13.90625 14.5875 13.90625 14.1875 C 13.90625 13.7875 14.10625 13.39375 14.40625 13.09375 C 14.70625 12.79375 15.1 12.59375 15.5 12.59375 z M 15.5 20.5 C 15.9 20.5 16.29375 20.60625 16.59375 20.90625 C 16.89375 21.20625 17.09375 21.6 17.09375 22 C 17.09375 22.5 16.89375 22.79375 16.59375 23.09375 C 16.29375 23.39375 15.9 23.5 15.5 23.5 C 15.1 23.5 14.70625 23.39375 14.40625 23.09375 C 14.10625 22.79375 13.90625 22.5 13.90625 22 C 13.90625 21.6 14.10625 21.20625 14.40625 20.90625 C 14.70625 20.60625 15.1 20.5 15.5 20.5 z" />
            </svg>
        </div>
        <br />
        <p>
            Sorry, this event is no longer available
        </p>
    </div>
</div>