
@{
    ViewBag.Title = "Guests";
}
<div class="app__header">
    <h4 class="head_top">GUEST DETAILS</h4>
</div>
<div class="mob_body">
    <form action="#" class="theme-black-form">
        <div class="form_first">
            <div class="form-group res_fr_1">
                <label>Main Guest(You)</label>
                <input type="text" class="form-control" placeholder="Enter your name">
            </div>
            <div class="form-group res_fr_1">
                <label>Guest 2</label>
                <span>Full Name</span>
                <input type="text" class="form-control" placeholder="Enter guest2 full name">
            </div>
            <div class="form-group res_fr_1 pn_1_con">
                <span>Phone No</span>
                <input type="tel" class="form-control" id="mob_id" placeholder="+1" autocomplete="off">
            </div>
            <div class="form-group res_fr_1">
                <label>Guest 3</label>
                <span>Full Name</span>
                <input type="text" class="form-control" placeholder="Enter guest2 full name">
            </div>
            <div class="form-group res_fr_1 pn_2_con">
                <span>Phone No</span>
                <input type="tel" class="form-control" id="mob_id2" placeholder="+1" autocomplete="off">
            </div>
        </div>
        <div class="form-group form_second select_opt">
            <p class="watlist4_notice">Please review your details before continuing,we will ask for <strong>Guest Details</strong> on the next page</p>
            <div class="fixed_btn">
                <a href="#" class="front_arrow" onclick="location.href='/m/concert/reservation/@ViewBag.id'"><img src="/content/mreservation/img/arrow.svg" alt=""></a>
                <button class="btn btn--grn" onclick="location.href='/m/reservation/thankyou/@ViewBag.id'">Next</button>
            </div>
        </div>
    </form>
</div>
<script>
    $('body').addClass('waitlist2 waitlist3 waitlist4 guest-detail_body');
    $(document).ready(function () {
        var input1 = document.querySelector("#mob_id");
        var input2 = document.querySelector("#mob_id2");

        var iti1 = window.intlTelInput(input1, {
            separateDialCode: true,
            utilsScript: "/content/intl-tel-input/js/utils.js"
        });

        var iti2 = window.intlTelInput(input2, {
            separateDialCode: true,
            utilsScript: "/content/intl-tel-input/js/utils.js"
        });

    });
</script>

