<style>
    .notifyjs-corner {
        z-index: 9999999!important;
    }
</style>
<div class="header-container">
    <header id="header" class="container">
        <div class="logo-time">
            <div id="logo">
                <h1>
                    <a href="#" title="Logo" id="businessName">
                    </a>
                </h1>
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="menu-icon"></span></a>
            </div>
            <!--end of logo-time-->
            <div class="time" id="time">
            </div>
            <!--end of time-->
        </div>
        <!--end of logo-time-->
        <div class="header-table">
            <span class="bg-gray bg-only"></span>
            <table class="table">
                <thead>
                    <tr>
                        <th class="center_no">TOTAL SPOTS</th>
                        <th class="center_no">AVAILABLE</th>
                        <th class="center_no">Waiting</th>
                        <th class="center_no">IN PLACE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center_no" rowspan="2"><span class="medium-text color-white" id="totalSpots">0</span></td>
                        <td class="center_no" rowspan="2"><span class="medium-text color-white" id="available">0</span></td>
                        <td class="center_no" rowspan="2"><span class="medium-text color-white" id="waiting">0</span></td>
                        <td class="center_no" rowspan="2"><span class="medium-text color-white" id="inPlace">0</span></td>
                    </tr>
                </tbody>
            </table>
            <!-- end of table -->
        </div>
        <!--end of header-table-->
        <a href="/concert/accounts" class="account" title="Account">Account</a>
        <a href="/concert/settings/account" class="settings" title="Settings">Settings</a>
        <a href="@Url.Action("logoff", "Account", new { area = "" })" class="logout">Logout</a>
    </header>
</div>
<script src="~/Scripts/app/concert/header.js"></script>