@{
    ViewBag.Title = "QTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $('body').addClass('extras-seatmap_min');
    $('.nav-item').removeClass('active');
    $('.navbar-nav .dropdown').addClass('active');
</script>

<div class="min_banner">
    <div class="min_banner_txt">
        <p>Digital Seat Maps</p>
    </div>
</div>
<main class="extras-seatmap info_not">
    <div class="sec1">
        <div class="container">
            <div class="sec1_in">
                <p class="">Add Social Distancing to your next event- maximize <br>space while minimizing crowd congregation</p>
            </div>
        </div>
    </div>
    <!-- sec1 -->
    <div class="sec2">
        <div class="container">
            <div class="diff4_img">
                <img src="/content/assets/images/img/NoPath@3x.png" alt="">
            </div>
            <div class="sec2_bg diff4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="txt_sec2">
                            <p class="head_info-al">Seat Selection & Spacing</p>
                            <p class="txt_info-al">
                                To meet Social Distancing requirements
                            </p>
                            <ul class="ul_info-al">
                                <li>Add Qtimes Reservation</li>
                                <li>Digitized seat maps to adjust for venue <br />locations</li>
                                <li>Increase participation while Social Distancing & Crowd Limits</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mob_sec2 wow slideInRight" data-wow-duration="2s">
                            <ul class="mob_sec2_ul">
                                <li class="mob_sec2_li se_1"><img src="/content/assets/images/img/phone-booking@3x.png" alt=""></li>
                                <li class="mob_sec2_li se_2"><img src="/content/assets/images/img/phone-seatmap@3x.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
