@{
    ViewBag.Title = "QTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $('body').addClass('extras_voucher_min');
    $('.nav-item').removeClass('active');
    $('.navbar-nav .dropdown').addClass('active');
</script>

<div class="min_banner">
    <div class="min_banner_txt">
        <p>Mobile Vouchers & Tickets</p>
    </div>
</div>
<main class="extras_voucher info_not">
    <div class="sec1">
        <div class="container">
            <div class="sec1_in">
                <p class="">Mobile Vouchers and Tickets with ID can help an event know <br>who is attending and can maintain crowd control </p>
            </div>
        </div>
    </div>
    <!-- sec1 -->
    <div class="sec2">
        <div class="container">
            <div class="sec2_bg diff3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mob_sec2 wow slideInUp" data-wow-duration="2s">
                            <ul class="mob_sec2_ul">
                                <li class="mob_sec2_li ex_1"><img src="/content/assets/images/img/booking-images@3x.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="txt_sec2">
                            <p class="head_info-al">Save to mobile wallet or mobile home page</p>
                            <p class="txt_info-al">
                                Mobile Vouchers and Tickets with ID can help an event know who is <br>attending and can maintain crowd control.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

