@{ ViewBag.Title = "QTimes";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    $('body').addClass('extras-dl_min');
    $('.nav-item').removeClass('active');
    $('.navbar-nav .dropdown').addClass('active');
</script>

<div class="min_banner">
    <div class="min_banner_txt">
        <p>Driver License Scan</p>
    </div>
</div>

<main class="extras-dl info_not">
    <div class="sec1">
        <div class="container">
            <div class="sec1_in">
                <p class="">Offer Driver's License scan to track guest <br>and offer easy check-in during the event</p>
            </div>
        </div>
    </div>
    <!-- sec1 -->
    <div class="sec2">
        <div class="container">
            <div class="sec2_bg diff2">
                <div class="row">
                    <div class="col-md-6 wow slideInLeft" data-wow-duration="2s">
                        <div class="mob_sec2">
                            <ul class="mob_sec2_ul">
                                <li class="mob_sec2_li ex_1"><img src="/content/assets/images/img/phone-dl@3x.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="txt_sec2">
                            <p class="head_info-al">Signup / Check-In</p>
                            <p class="txt_info-al">
                                Offer Driver's License scan to identify guest while offering an easy check-in during the event.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {

}

