
<header class="header header_stick">
    <div class="container">
        <div class="header_all_wrap">
            <a href="/" class="navbar-brand-logo">
                <img src="/content/assets/images/img/logo.svg" alt="" />
            </a>
            <div class="navigation_menu">
                <a href="#" class="nav-tog_btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/#qhome">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#qsetup">Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#qmessage">Messaging</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#qapp">App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#qcontact">Contact Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Extras
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:225px">
                                    <a class="dropdown-item" href="/extras/menu">Menu & Food Ordering </a>
                                    <a class="dropdown-item" href="/extras/dl">Driver License Scan</a>
                                    <a class="dropdown-item" href="/extras/voucher">Mobile Vouchers & Tickets</a>
                                    <a class="dropdown-item" href="/extras/seatmap">Digital Seat Maps</a>
                                    <a class="dropdown-item" href="/extras/scanning">Facial Scanning</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- nav -->
                <div class="seatQ_link">
                    <ul>
                        <li><a href="https://seatq.com">SeatQ</a></li>
                    </ul>
                </div>
                <!-- seatQ_link_btn -->
            </div>
            <!-- navigation_menu -->
            <div class="seatQ_sign">
                <ul>
                    <li><a href="/identity/account/login">Sign In</a></li>
                    <li class="active"><a href="/identity/account/register">Sign Up</a></li>
                </ul>
            </div>
            <!-- seatQ_sign_btn -->
        </div>
    </div>
    <!-- container -->
</header>