@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-switch.js"></script>
<section class="content-header">
    <div class="content_header_left">
        <h2 class="uppercase">Messages</h2>
    </div>
    <div class="content_header_right">
        <a href="#" id="addBtn" class="btn btn-primary add-new-reserve blue_right_btn" data-toggle="modal" data-target="#add-waitlist">
            <span class="svg_add-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                    <path id="prefix__add_icon" d="M6 15V9H0V6h6V0h3v6h6v3H9v6z" style="fill:#fff" />
                </svg>
            </span>NEW Message
        </a>
    </div>
</section>
<section class="content-body">
    <ul class="messages-list">
        <!--ko foreach: ReadyMessages -->
        <li>
            <div class="inbox">
                <div class="inbox-title-block">
                    <h2>Ready Messages</h2>
                </div>

            </div>
            <div class="reply" style="position:relative">
                <p data-bind="text:ReadyMessage1"></p>
                <a href="#" title="Edit" class="circle-btn edit-pos" style="position:absolute;top:10px" data-bind="click:function(){$root.EditReadyMessage(this)}"><span class="edit-btn">Edit</span></a>
            </div>
        </li>
        <li>
            <div class="inbox">
                <div class="inbox-title-block">
                    <h2>Custom  Messages</h2>
                </div>
            </div>
        </li>
        <!--/ko-->
        <!--ko foreach: VisitMessages -->
        <li>
            <div class="reply" style="position:relative">
                <p data-bind="text:VisitMessage1"></p>
                <a href="#" title="Edit" class="circle-btn edit-pos" style="position:absolute;top:10px" data-bind="click:function(){$root.EditVisitMessage(this)}"><span class="edit-btn">Edit</span></a>
                <a href="#" title="Delete" class="circle-btn delete-pos" style="position:absolute;top:10px" data-bind="click:function(){$root.DeleteVisitMessage(this)}"><span class="delete-btn">Delete</span></a>
            </div>
        </li>
        <!--/ko-->
    </ul>
</section>

<div class="modal fade new_rule in" id="add-waitlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header topic_only">
                <h4 class="modal-title uppercase" id="myModalLabel">
                    New Message
                </h4>
            </div>

            <div class="modal-body">
                <form action="#" class="theme-white-form">
                    <div class="form-inline">
                        <div class="form-group inline-form">
                        </div>
                        <div class="form-group pull-right">
                            <input class="form-control" type="checkbox" name="my-checkbox" id="chknew">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" placeholder="Type your message..." data-bind="value: VisitMessage" onkeyup="countChar('txtVisitMessage', 'spanVisit')" id="txtVisitMessage"></textarea>
                    </div>
                    <div class="form-group">
                        <label>No. of Visit</label>
                        <input class="form-control" type="number" placeholder="No. of Visit" class="group-size half pull-left" data-bind="value: Visit" />
                    </div>
                    <div class="form-group">
                        No. of characters remaining: <span id="spanVisit"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-font assign" data-bind="click: Save" id="btnAdd"><span id="btnSubmit">SAVE</span></button>
                <button type="button" class="btn btn-default btn-font cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/app/message.js"></script>*@
@Scripts.Render("~/scripts/message")
