<footer>
    <div class="container">
        <div class="footer_p">
            <p class="footer_right">All rights reserved © 2020 - Qtimes</p>
            <p class="footer_terms"><a href="#">Terms & Conditions</a></p>
        </div>
    </div>
</footer>