<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://qtimes-dev-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qtimes-dev-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QTimes-Dev-API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QTimes-Dev-API</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthenticationConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=iDestn;User ID=guestextadmin;Password=zxa9Qn2*3e%NpW4x9uSA@B#5" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthenticationConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=iDestn;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="iDestnEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=iDestn;Persist Security Info=True;User ID=guestextadmin;Password=zxa9Qn2*3e%NpW4x9uSA@B#5;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\iDestnEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DataAccess.csdl|res://*/Models.DataAccess.ssdl|res://*/Models.DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:guestext.database.windows.net,1433;initial catalog=iDestn;persist security info=True;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SeatQEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=SeatQ_Dev;Persist Security Info=True;User ID=guestextadmin;Password=zxa9Qn2*3e%NpW4x9uSA@B#5;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SeatQEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DataAccess.csdl|res://*/Models.DataAccess.ssdl|res://*/Models.DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:guestext.database.windows.net,1433;initial catalog=SeatQ_Dev;persist security info=True;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SeatQHangfire" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=SeatQHangfire;User ID=guestextadmin;Password=zxa9Qn2*3e%NpW4x9uSA@B#5" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SeatQHangfire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=SeatQHangfire;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthenticationConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)iDestnEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SeatQEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SeatQHangfire-Web.config Connection String" />
  </ItemGroup>
</Project>