@model SeatQ.core.dal.Models.UserProfile
@{
    ViewBag.Title = "SIGN UP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .validation-summary-valid {
        color: red;
    }
</style>
<header class="header header_non-stick">
    @Html.Partial("_HeaderLogo")
</header>

<main class="forget_main grey--bg">
    <div class="wrapper">
        <div class="sign_whole_wrap">
            <div class="forget_page white--bg">
                <p class="sign_head">Reset Password</p>
                <p class="sign_p">Please type your username and and click send button and check your email for a new password.</p>
                <form class="sign_form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                    </div>
                    <button type="submit" class="btn btn-primary sign_btn sign_purp" onclick="ResendConfirmation()">Send</button>
                </form>
                <form class="sign_form">
                    <div class="form-group">
                        @Html.ValidationSummary()
                    </div>
                </form>
            </div>
            <div class="sign_otions">
                <a href="/account/register" class="signup_a">Sign Up</a>
                <a href="/account/login" class="signin_a">Sign In</a>
            </div>
        </div>
    </div>
</main>

<script>
        var webserviceURL = "@Url.Action("ForgotPassword", "Account")";

    function ResendConfirmation() {
        event.preventDefault();
            $.ajax({
                type: "POST",
                url: webserviceURL,
                data: JSON.stringify({ UserName: $("input[name=username]").val()/*, Email: $("input[name=email]").val()*/ }),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    if (data.status == "ok") {
                        $(".validation-summary-valid").html("Please check your email for a new password.");
                        $(".validation-summary-valid").show();
                    }
                    if (data.status == "error") {
                        showErrorOnElement(data, $(".validation-summary-valid"));
                    }
                },
                error: function (error) {
                    alert('error');
                }
            });
        }

</script>
