
@{
    ViewBag.Title = "Index";
}

<div class="wrapper-inner">
    <h1 class="txt-center">Contact</h1>
    <ul class="form-design contact">
            <li>
                <label for="FullName">FullName</label>
                <input id="FullName" name="FullName" type="text" value="">
            </li>
            <li>
                <label for="BusinessName">BusinessName</label>
                <input id="BusinessName" name="BusinessName" type="text" value="">
            </li>
            <li>
                <label for="Email">Email</label>
                <input id="Email" name="Email" type="text" value="">
            </li>
            
            <li>
                <label for="Phone">Phone</label>
                <input id="Phone" name="Phone" type="text" value="">
            </li>
            <li>
                <label for="Message">Message</label>
                <textarea cols="20" id="Message" name="Message" rows="2"></textarea>
            </li>

            <li><input type="submit" value="Submit" class="button green big"></li>
            
        </ul>
</div>

