<div class="content-wrapper">

    @Html.Partial("_PartialMenu")

    <section class="content-header">
        <div class="content_header_left">
            <h2 class="uppercase margin-right-17">METRICS</h2>
            <ul class="date_to select_opt full_concert_drop-select">
                <li>
                    <select class="form-control selectpicker" id="metrics-options" name="metrics" data-bind="options: ConcertEvents,
                            value:CurrentConcertEvent, optionsText: 'Name', optionsValue: 'Id', event:{ change: OnChangeEvent}, optionsCaption: 'Choose an event...'">
                    </select>
                </li>
            </ul>
        </div>
        @*<div class="content_header_right">
            <ul class="date_to select_opt">
                <li>
                    <svg class="svg_clander" xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20">
                        <path id="prefix__iconfinder_calendar_3671721" d="M1 4a2.006 2.006 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2zm2 2v12h14V6zm2-6h2v2H5zm8 0h2v2h-2zM5 9h2v2H5zm0 4h2v2H5zm4-4h2v2H9zm0 4h2v2H9zm4-4h2v2h-2zm0 4h2v2h-2z" transform="translate(-1)" style="fill:#94979c" />
                    </svg>
                </li>
                <li>
                    <select class="form-control selectpicker" id="select_onday" data-bind="event:{ change: OnChangeDate}">
                        <option value="0">Today</option>
                        <option value="1">Yesterday</option>
                    </select>
                </li>
            </ul>
        </div>*@
    </section>

    <section class="content-body clearfix">
        <div class="mertics_col">
            <ul>
                <li>
                    <div class="box_mertics_col">
                        <p>Total Guests</p>
                        <h3 data-bind="text: TotalGuests">0</h3>
                    </div>
                </li>
                <li>
                    <div class="box_mertics_col">
                        <p>Total Events</p>
                        <h3 data-bind="text: TotalEvents">0</h3>
                    </div>
                </li>
                <li>
                    <div class="box_mertics_col">
                        <p>Total Reservation</p>
                        <h3 data-bind="text: TotalReservations">0</h3>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</div>
<environment include="Development">
    <script src="~/Scripts/app/concert/metrics.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/Scripts/app/concert/metrics.min.js"></script>
</environment>