@font-face {
    font-family:'Avenir Book';
    src: url('Avenir Book.eot');
	src: url('../fonts/avenir/Avenir Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/avenir/Avenir Book.woff2') format('woff2'),
		url('../fonts/avenir/Avenir Book.woff') format('woff'),
		url('../fonts/avenir/Avenir Book.svg#Avenir Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
