@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_old.cshtml";
}
<div id="content-inner">
    <div id="take-survey" class="txt-center">
        <h2>Take Survey</h2>
        We Love to hear you Comments / Suggestions  <br />
        Please help us to build a good service by taking this short survey! <br />

        <a href="#" class="button gray tick">Take Survey</a>
    </div>
</div>
