<div class="jumbotron">
    <h1>SeatQ</h1>
    <p class="lead">The New Wait List Management Tool</p>
    <p><a href="http://www.seatq.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The New Wait List Management Tool</h2>
        <p>Using an IPAD to manage your wait list makes for smart managment tool for tracking guest seating and a new marketing tool for communicating with your guest. SeatQ is leading in the way in restaurant wait list management.</p>
    </div>
    <div class="col-md-4">
        <h2>Why SeatQ?</h2>
        <p>
            SeatQ is the newest in wait list management tools that allows for seamless communication between restaurants and their guest.
            <br />- Eliminate Costly Pagers
            <br />- Set up SQ to communicate specials based on previous visits by guests
            <br />- Special positioning on the wait list for your returning guests
            <br />- Manage offers automatically allows you to create offers whether the guest has visited your restaurant once or one hundred times. Pre-load offers based on # of times a guest has returned
        </p>
        <p><a class="btn btn-default" href="http://www.seatq.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What More?</h2>
        <p>It focused on providing restaurants with customer centric tools to engage with guests, encouraging less cancelled seats and encourage return guests with manage expectation and dynamic guest reviews.</p>
        <p><a class="btn btn-default" href="http://www.seatq.com">Learn more &raquo;</a></p>
    </div>
</div>
