<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="AuthenticationConnection" connectionString="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=iDestn;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="SeatQEntities" connectionString="metadata=res://*/Models.DataAccess.csdl|res://*/Models.DataAccess.ssdl|res://*/Models.DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:guestext.database.windows.net,1433;initial catalog=SeatQ_Dev;persist security info=True;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="iDestnEntities" connectionString="metadata=res://*/Models.DataAccess.csdl|res://*/Models.DataAccess.ssdl|res://*/Models.DataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:guestext.database.windows.net,1433;initial catalog=iDestn;persist security info=True;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="SeatQHangfire" connectionString="Data Source=tcp:guestext.database.windows.net,1433;Initial Catalog=QTimesHangfire;user id=guestextadmin;password=zxa9Qn2*3e%NpW4x9uSA@B#5;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ConfirmationURL" value="https://dev.qtimes.co/Account/Confirmation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PasstrekUrl" value="http://api.passtrek.com/api/qtimes/pass"/>
  </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
